<!doctype html>
<html class="no-js" lang="pt-BR">
<head>
  <meta charset="utf-8">

  <title>Front-End Lab's v0.1 - Style Guide</title>

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="favicon.ico" sizes="32x32" type="image/x-icon" />

  <!-- build:css css/styles.css -->
  <link rel="stylesheet" href="../css/styles.css">
  <!-- endbuild -->

</head>
<body>

  <main>
    <header class="bar bar-positive">
      <div class="row">
        <h1 class="title-logo">
          <a href="/">
            <small>v0.1</small>
            <img src="../images/logo-white.png" height="52" />

          </a>
        </h1>

        <nav class="navmenu">
          <ul class="no-style">
            <li>
              <a href="about.html" title="">
                About
              </a>
            </li>
            <li class="active">
              <a href="style-guide.html" title="">
                Style Guide
              </a>
            </li>
            <li>
              <a href="ui-components.html" title="">
                UI Components
              </a>
            </li>
            <li>
              <a href="templates.html" title="">
                Templates
              </a>
            </li>
            <li>
              <a href="generator.html" title="">
                Generator
              </a>
            </li>
          </ul>
          <!-- Github Star -->
          <div class="button-github"><a class="github-button" href="https://github.com/alexandesigner/starterkit" data-icon="octicon-star" data-count-href="alexandesigner/starterkit/stargazers" data-count-api="/repos/alexandesigner/starterkit#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star ntkme/github-buttons on GitHub">Star</a></div>
        </nav>



        <div class="hero">
          <h2>Style Guide</h2>
          <strong>A style guide for building awesome experiences</strong>
        </div>

      </div>
    </header>
    <div class="content">

      <div class="row">

        <aside class="sidebar">
          <div class="sidebar-divider">
            Brand
          </div>
          <div class="sidebar-content">
            <nav class="menu v-menu">
              <a href="#" class="activated">Indetity</a>
              <a href="#">Principles</a>
              <a href="#">Logo</a>
            </nav>
          </div>
          <div class="sidebar-divider">
            Basics
          </div>
          <div class="sidebar-content">
            <nav class="menu v-menu">
              <a href="#">Colors</a>
              <a href="#">Typhography</a>
              <a href="#">Icons</a>
            </nav>
          </div>
          <div class="sidebar-divider">
            Visual Language
          </div>
          <div class="sidebar-content">
            <nav class="menu v-menu">
              <a href="#">Photography</a>
              <a href="#">Illustrations</a>
              <a href="#">Videos</a>
              <a href="#">Charts</a>
              <a href="#">Cartoons</a>
            </nav>
          </div>
          <div class="sidebar-divider">
            Others
          </div>
          <div class="sidebar-content">
            <nav class="menu v-menu">
              <a href="#">Ads</a>
              <a href="#">Merchandising</a>
              <a href="#">Social Media</a>
            </nav>
          </div>
        </aside>
        <div class="container">
          <header class="top-container">
            <h1 class="top-container-title">
              Brand Indentity
            </h1>
            <p class="muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          </header>
        </div>

      </div>


    </div>

    <footer class="footer">
      <div class="content">
        Front-end Lab's (c) 2016 - All rights reserved.
      </div>
    </footer>

  </main>

  <a href="https://github.com/alexandesigner/frontlabs"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>

  <!-- build:js js/scripts.js -->
  <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../js/scripts.js"></script>
  <!-- endbuild -->

</body>
</html>
