/* Main Styles */
/***********************************/

.pane, .view {
	background:$primary-color;
	.scroll-content {
	  display: table !important;
	  width: 100% !important;
	  height: 100% !important;
	}
	.scroll {
	  display: table-cell;
	  vertical-align: middle;
	  text-align: center;
	}
	.logo {
		width:260px;height:60px;
		margin:0 auto;
	}
}
